.package-info {
    margin: 10px;
}

.carousel-item img {
    height: 500px;
    border-radius: 25px;
}

#navbar{
    flex-direction: row;
}

.btn {
    margin: 10px;
}

#body {
    background-color: rgb(46, 45, 45);
}
main {
    height: 100%;
}
#inner-carousel {
    position: relative;
}

#table-edge {
    z-index:9;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
}

#center-table {
    position: relative;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#test-id{
    z-index: 100;
    border-radius: 25px;
}

#launch-table {
    border-radius: 25px;
}